$base-bg: none;
$base-body: none;
$base-highlight: none;

$nav-ul-bg: inherit;
$nav-li-bg: none;
$nav-li-color: rgb(0, 0, 0);

$nav-mobile-ul-bg: rgba(0, 0, 0, .85);
$nav-mobile-li-bg: none;
$nav-mobile-li-color: rgb(255, 255, 255);

$nav-button-bg: rgb(255, 255, 255);
$nav-button-color: rgb(0, 0, 0);

$button-bg: inherit;
$button-color: inherit;

$input-bg: inherit;
$input-color: inherit;
