// Requirements
// ============

@import 'susy';
@import 'compass';

$susy: (
  columns: 16,
  gutters: 1 / 4,
  global-box-sizing: content-box,
);

// Breakpoints
$bp-large: 960px;
$bp-medium: 768px;
$bp-small: 600px;

// Baseline Grid (Compass)
$base-font-size: 16px;
$base-line-height: 2em;
$rhythm-unit: 'em';
$rem-with-px-fallback: true;

// Controls many things, specifically offsets
// Shouldn't go much above ~3rem or things break
$inner-container-padding: .5rem;

@include border-box-sizing;

//* {
//  box-sizing: border-box;
//}

%clearfix::after {
  clear: both;
  content: ' ';
  display: table;
}

body {
  margin: 0; //reset
  padding: 0; //reset
}

.outer-container {
  @extend %clearfix;
  @include container(100%);
}

.inner-container {
  @extend %clearfix;
  @include container(100%);
  padding: $inner-container-padding;

  @include susy-breakpoint($bp-large, $susy) {
    @include container(60rem);
  }
}

.columns-2 {
  -moz-column-count: 2;
  -moz-column-gap: gutter(1);
  -webkit-column-count: 2;
  -webkit-column-gap: gutter(1);
  column-count: 2;
  column-gap: gutter(1);
}

section {
  @extend %clearfix;

  article {
    @include span(16);

    @include susy-breakpoint($bp-small, $susy) {
      // 2 Columns
      @include span(8 first);
    }

  &:last-child {
    @include span(16);

    @include susy-breakpoint($bp-small, $susy) {
      // 2 Columns
      @include span(8 last)
    }
  }

  article:nth-of-type(1) {
    @include span(16);

    @include susy-breakpoint($bp-small, $susy) {
      @include span(8 at 9);
    }
  }
  }
}
